{%- if section.settings.show_announcement -%}
  {%- capture section_settings -%}
  {
    "showNewsletter": {{ section.settings.show_newsletter | json }}
  }
  {%- endcapture -%}

  <section data-section-id="{{ section.id }}" data-section-type="announcement-bar" data-section-settings='{{ section_settings }}'>
    {%- if section.settings.show_newsletter -%}
      <div id="announcement-bar-newsletter" class="announcement-bar__newsletter hidden-phone" aria-hidden="true">
        <div class="container">
          <div class="announcement-bar__close-container">
            <button class="announcement-bar__close" data-action="toggle-newsletter">
              <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
              {%- render 'icon', icon: 'close' -%}
            </button>
          </div>
        </div>

        <div class="container container--extra-narrow">
          <div class="announcement-bar__newsletter-inner">
            <form id="cmdistro-de-website-newsletter-signup">
			<input type="hidden" name="js_url" id="js_url" value="https://subs.sonymusicfans.com/submit">
			<input type="hidden" name="ae_segment_id" id="ae_segment_id" value="1700057">
			<input type="hidden" name="ae_brand_id" id="ae_brand_id" value="3447671">
			<input type="hidden" name="ae_activities" id="ae_activities" value='{"actions":{"formsubmission":98131,"secondaryformsubmission":0},"mailing_list_optins":{"a0S2400000NgsDAEAZ":98132}}'>
			<input type="hidden" name="ae" id="ae" value="519452a447eb9041d9c36f2c39d411d9f8a2f6f5acf47be68195a347f7032abe">
			<input type="hidden" name="form" value="218351">
			<!-- Form Fields -->
			<div class="form-group" data-validation="Enter a valid email address">
				<label for="field_email_address">
					Email Address
				</label>
				<input class="form-control" id="field_email_address" name="field_email_address" type="text">
			</div>
				<div class="input-group hidden">
			<div class="checkbox">
				<label for="default_mailing_list">
					<input type="hidden" id="default_mailing_list" name="default_mailing_list" value="a0S2400000NgsDAEAZ">
					<p>I'd like to subscribe to the CMDistro.de Newsletter newsletter</p>				</label>
			</div>
		</div>
						<!-- Submit Button -->
			<button type="submit" class="btn btn-default">SUBSCRIBE</button>
		</form>
		<!-- jQuery CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- Campaign JS Code -->
		<script>
		jQuery(document).ready(function ($) {
			$("#cmdistro-de-website-newsletter-signup").on("submit", function (e) {
				// Prevent default browser actions on form submission.
				e.preventDefault();
				// Get all the form user submitted data and get it ready to be sent.
				var data = $(this).serialize();
				// POST all the data to the SMF submission endpoint URL.
				$.ajax({
					type: "POST",
					url: "https://subs.sonymusicfans.com/submit",
					dataType: "json",
					data: data,
					xhrFields: {
						withCredentials: false
					},
					success: function (data) {
						// Do things on successful submission.
						alert("Submitted!");
					},
					error: function (err) {
						// Do things when submission has an error.
						alert("An error has occured!");
					}
				});
			});
		});
		</script>
          </div>
        </div>
      </div>
    {%- endif -%}

    <div class="announcement-bar">
      <div class="container">
        <div class="announcement-bar__inner">
          {%- if section.settings.link != blank -%}
            <a href="{{ section.settings.link }}" class="announcement-bar__content announcement-bar__content--{{ section.settings.text_position }}">{{ section.settings.text | escape }}</a>
          {%- else -%}
            <p class="announcement-bar__content announcement-bar__content--{{ section.settings.text_position }}">{{ section.settings.text | escape }}</p>
          {%- endif -%}

          {%- if section.settings.show_newsletter -%}
            <button type="button" class="announcement-bar__button hidden-phone" data-action="toggle-newsletter" aria-expanded="false" aria-controls="announcement-bar-newsletter">
              {%- render 'icon', icon: 'newsletter' -%}
              {{- section.settings.newsletter_button | escape -}}
            </button>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>

  <style>
    .announcement-bar {
      background: {{ section.settings.background }};
      color: {{ section.settings.text_color }};
    }
  </style>

  <script>
    {%- if section.settings.show_newsletter -%}
      document.documentElement.style.setProperty('--announcement-bar-button-width', document.querySelector('.announcement-bar__button').clientWidth + 'px');
    {%- else -%}
      document.documentElement.style.removeProperty('--announcement-bar-button-width');
    {%- endif -%}

    document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#1e2d7d"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left",
      "info": "Text is always centered on mobile."
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "paragraph",
      "content": "Only visible on desktop."
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show sign up form",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_button",
      "label": "Open button",
      "default": "Subscribe & Save"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_content",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    }
  ]
}
{% endschema %}